{
    "mode": "development",
    "address": ":9090",
    "database": {
        "mysql": {
            "dbHost": "localhost",
            "dbPort": "3306",
            "dbUser": "root",
            "dbPass": "",
            "dbName": "collapp",
            "maxIdleConns": 5,
            "maxOpenConns": 20,
            "connMaxLifetime": 60,
            "connMaxIdleTime": 10
        }
    },
    "jwt": {
        "key": "RiyanGanteng",
        "expired": 60,
        "expiredRefresh": 61
    },
    "defaultPassword": "Abc123",
    "defaultLang": "en",
    "files": {
        "photo": "public/upload/user/photo/"
    }
}