{
    "mode": "development",
    "address": ":9090",
    "database": {
        "mysql": {
            "dbHost": "localhost",
            "dbPort": "3306",
            "dbUser": "root",
            "dbPass": "",
            "dbName": "collapp"
        }
    },
    "jwt":{
        "key": "RiyanGanteng",
        "expired": 60, 
        "expiredRefresh": 61
    },
    "defaultPassword": "Abc123",
    "defaultLang": "en"
}